@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
      font-family: "Outfit", serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 280px;
}

.section-title {
    color: #202020;
    font-size: 32px;
    font-weight: 600;
}

.section-subtitle {
    font-size: 22px;
    color: #202020;
    margin-bottom: 50px;
}